.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../assets/background/dark-bg-5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  width: 25%;
  height: auto;
  margin-left: 10%;
  box-shadow: 0 8px 32px rgba(114, 114, 114, 0.4);

  span {
    color: #c1c1c1;
    a {
      color: #65718e;
    }
  }
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: center;
  color: #c1c1c1;
}

.inputGroup {
  label {
    font-size: 15px;
    color: #c1c1c1;
  }

  input {
    width: 100%;
    height: 25px;
    margin: 10px 0 20px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    color: #c1c1c1;
    background: none;

    &::placeholder {
      color: #949494;
    }

    &:hover {
      border-bottom: 2px solid black;
    }

    &:focus {
      border-bottom: 2px solid rgb(0, 140, 255);
      transition: border-bottom 300ms;
    }
  }
}

.button {
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  background: rgb(50, 163, 255);
  font-size: 20px;
  color: #dedede;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: rgb(0, 140, 255);
    font-size: 22px;
  }
}

.navigateDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigateLink {
  font-weight: bold;
  margin: 0 10px;
}
