.messageContainer {
  width: 100%;

  .chatHeader {
    background: #1876d1;
    color: #ffffff;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
  }
}
