.themeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #000000;
  cursor: pointer;

  &.dark {
    color: #f8f8f8;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/background/light-bg-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.dark {
    background-image: url('../assets/background/dark-bg-5.png');
  }
}

.form {
  border: 1px solid rgba(207, 207, 207, 0.3);
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: none;
  backdrop-filter: blur(1px);
  border-radius: 15px;
  width: 25%;
  height: auto;
  margin-left: 10%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

  &.dark {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(114, 114, 114, 0.4);
  }
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

  &.dark {
    color: #c1c1c1;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
    &.dark {
      color: #c1c1c1;
    }
  }

  input {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    transition: border-bottom 200ms;
    margin: 5px 0px 30px 0px;
    background: none;

    &:hover {
      border-bottom: 2px solid black;
    }

    &:focus {
      border-bottom: 2px solid rgb(0, 145, 255);
      transition: border-bottom 400ms;
    }

    &.dark {
      border-bottom: 1px solid #000000;
      color: #cacaca;

      &:hover {
        border-bottom: 2px solid #030202 !important;
      }

      &:focus {
        border-bottom: 2px solid rgb(154, 154, 154) !important;
      }
    }
  }

  .themeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #000000;
    cursor: pointer;

    &.dark {
      color: #f8f8f8;
    }
  }
}

.button {
  width: 100%;
  height: 45px;
  border-radius: 7px;
  border: none;
  margin-top: 15px;
  background: rgb(85, 179, 255);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 200ms;

  &:hover {
    background: rgb(0, 140, 255);
    transition: 200ms;
    font-size: 22px;
  }

  &.dark {
    background: rgb(128, 128, 128);
    border: 2px solid black;

    &:hover {
      background: rgb(93, 93, 93);
    }
  }
}

.navigateSection {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;

  &.dark {
    color: #c1c1c1;
  }
}

.navigateLink {
  color: rgb(0, 109, 198);
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
