.login-main {
  background-color: #eff4fa;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  position: relative;
  width: 420px;
  height: 450px;
  background: white;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container .title {
  position: relative;
  transform: translateY(-60px);
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-box label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  pointer-events: none;
  text-transform: uppercase;
}

.input-box input {
  margin-bottom: 20px;
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000000;
  color: #000000;
  font-size: 1em;
  letter-spacing: 0.1rem;
}

.input-box input:focus {
  outline: none;
  border-bottom: 3px solid #00a1ff;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  transition: 500ms all;
  background-color: #00a1ff;
  border: none;
  color: #fff;
  font-weight: 600;
}
